.cm-s-notenet span.cm-hyphen { color: #E61212; background-color: #FFF593}
.cm-s-notenet span.cm-keyword { color: blue; }
.cm-s-notenet span.cm-comment { color: #184FA7; background-color: #f2f2f2}
.cm-s-notenet span.cm-builtin { line-height: 1em; font-weight: bold; color: #077; }
.cm-s-notenet span.cm-special { line-height: 1em; font-weight: bold; color: #0aa; }
.cm-s-notenet span.cm-variable { color: black; }
.cm-s-notenet span.cm-equal, .cm-s-notenet span.cm-atom { color: #3a3; background-color: #1B1B15}
.cm-s-notenet span.cm-meta { color: #555; }
.cm-s-notenet span.cm-link { color: #3a3; }

.cm-s-notenet .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-notenet .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }
